<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninjas</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>New Ninja</h1>

    <form action="/ninjas/create" method="post">

        <label for="dojo_id">Dojo:</label>

        <select name="dojo_id">

            {% for dojo in dojos %}

            <option value="{{ dojo.id }}">{{ dojo.name }}</option>

            {% endfor %}

        </select> 

        <label for="first_name">First Name:</label>
        <input type="text" name="first_name">

        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name">

        <label for="age">Age:</label>
        <input type="number" name="age">

        <button type="submit">Create New Ninja</button>

    </form>

    <a href="/dojos">Home</a>

</body>

</html>