<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show User</title>
</head>
<body>
    <a href="/users">Home</a>

    <h2>User: {{ user.id }}</h2>

    <p>Full Name: {{ user.full_name() }}</p>

    <p>Email: {{ user.email }}</p>

    <p>Created on: {{ user.created_at.strftime("%b %d %Y") }}</p>

    <p>Last Updated: {{ user.updated_at.strftime("%b %d %Y") }}</p>

    <a href="/user/edit/{{ user.id }}">Edit {{ user.id }}</a>

    <a href="/user/delete/{{ user.id }}">Delete {{ user.id }}</a>

</body>
</html>