<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Recipe</title>
</head>
<body>

    <button><a href="/dashboard">Dashboard</a></button>

    <button><a href="/logout">Logout</a></button>

    <h1>Edit Recipe: {{ recipe.name }}</h1>

    {% with messages = get_flashed_messages() %}
    <!-- declare a variable called messages -->
    {% if messages %}
    <!-- check if there are any messages -->
    {% for message in messages %}
    <!-- loop through the messages -->
    <p>{{message}}</p>
    <!-- display each message in a paragraph tag -->
    {% endfor %}
    {% endif %}
    {% endwith %}

    <form action="/edit/recipe/{{ recipe.id }}", method="post">

        <input type="hidden" name="id" value="{{ recipe.id }}">

        <p>Name:
            <input type="text" name="name" value="{{ recipe.name }}">
        </p>

        <p>Description:</p>
            <p><textarea name="description" cols="35" rows="4">{{ recipe.description }}</textarea></p>

        <p>Instructions:</p>
            <p><textarea name="instruction" cols="35" rows="6">{{ recipe.instruction }}</textarea></p>

        <p>Date Made On:
            <input type="date" name="date_made_on" value="{{ recipe.date_made_on }}">
        </p>

        <p>

            {% if recipe.under_30_min == "Yes" %}
            <label for="yes">Yes</label>
            <input type="radio" name="under_30_min" id="yes" value="Yes" checked>
            <label for="no">No</label>
            <input type="radio" name="under_30_min" id="no" value="No">
            {% endif %}

            {% if recipe.under_30_min == "No" %}
            <label for="yes">Yes</label>
            <input type="radio" name="under_30_min" id="yes" value="Yes" >
            <label for="no">No</label>
            <input type="radio" name="under_30_min" id="no" value="No" checked>
            {% endif %}

        </p>

        <button type="submit">Update Recipe</button>

    </form>

</body>
</html>