<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>

    <h1>Create an Account</h1>

    {% with messages = get_flashed_messages() %}
    <!-- declare a variable called messages -->
    {% if messages %}
    <!-- check if there are any messages -->
    {% for message in messages %}
    <!-- loop through the messages -->
    <p>{{message}}</p>
    <!-- display each message in a paragraph tag -->
    {% endfor %}
    {% endif %}
    {% endwith %}



    <form action="/register" method="post">

        <p>First Name:
            <input type="text" name="first_name">
        </p>

        <p>Last Name:
            <input type="text" name="last_name">
        </p>

        <!-- CAN PUT TYPE = EMAIL BUT NOT FOR EXAM THEY WANT TO TEST THAT YOU CAN DO IT ON THE BACKEND -->
        <p>Email:
            <input type="text" name="email">
        </p>

        <p>Password:
            <input type="password" name="password">
        </p>

        <p>Password Confirmation:
            <input type="password" name="password_conf">
        </p>

        <button type="submit">Create</button>

    </form>

    <h2>LOGIN</h2>

    <form action="/login_user" method="post">

        <p>Email:
            <input type="text" name="email">
        </p>

        <p>Password:
            <input type="password" name="password">
        </p>

        <button type="submit">Login</button>

    </form>

</body>

</html>